* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(17, 50, 67);
}

#root {
    padding-top: 30px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.container {
    background-color: rgb(2, 111, 125);
    padding: 30px;
    width: 40vw;
    margin-bottom: 160px;
    border-radius: 20px;
    box-sizing: border-box;
}

nav>a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration-line: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

nav>a:hover {
    background-color: whitesmoke;
    color: rgb(17, 50, 67);
}

nav>a.active {
    text-decoration-line: underline;
}

nav {
    margin-bottom: 20px;
    background-color: rgb(2, 111, 125);
    border-radius: 15px;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
}


h2 {
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
    margin: 0;
    margin-bottom: 18px;
}

p {
    color: whitesmoke;
}

hr {
    border: none;
    border-top: 1px solid whitesmoke;
    margin: 20px 0;
}

input[type="submit"] {
    background: whitesmoke;
    border-radius: 4px;
    color: rgb(17, 50, 67);
    font-weight: bold;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(17, 50, 67);
    color: whitesmoke;
}

input,
select {
    font-family: "Open Sans", sans-serif;
    background: whitesmoke;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 7px 9.5px 9px 9.5px;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.tile {
    margin: 0;
    font-size: 14px;
    margin-bottom: 4px;
}

.tile-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.tile-container {
    margin-bottom: 20px;
}